body {
  background-color: #e0e0e0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts//Nunito/Nunito-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.text-shadow-grey-light {
  text-shadow: 4px 4px 3px #b0bec5;
}

.text-shadow-grey-dark {
  text-shadow: 3px 3px #607d8b;
}

.hover\:pointer:hover {
  cursor: pointer;
}

.hover\:not-allowed:hover {
  cursor: not-allowed;
}

.hover\:help:hover {
  cursor: help;
}

.border-radius-1\/2 {
  border-radius: 50%;
}
