@font-face {
  font-family: "Nunito";
  src: url("../fonts//Nunito/Nunito-Regular.ttf") format("opentype");
  font-style: normal;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.text-shadow-grey-light {
  text-shadow: 4px 4px 3px #b0bec5;
}

.text-shadow-grey-dark {
  text-shadow: 3px 3px #607d8b;
}

.hover-mouse-pointer:hover {
  cursor: pointer;
}

.hover-mouse-not-allowed:hover {
  cursor: not-allowed;
}

.hover-mouse-help:hover {
  cursor: help;
}
