<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <%- include("../partials/navbar.ejs") %>

    <div class="container center">
      <a href="#" onclick="window.history.back()" class="btn btn-md btn-primary"
        >Back</a
      >
    </div>
    <br />

    <div class="container text-light padding-20 bg-dark z-depth-2">
      <h1>Website Disclaimer</h1>

      <h2>Consent</h2>
      <p>
        By using <a href="https://matievisthekat.dev">matievisthekat.dev</a>,
        you hereby consent to our disclaimer and agree to its terms.
      </p>
      <p>
        matievisthekat.dev will not be liable for any damages experienced in
        connection with the use of our website.
      </p>
      <p>
        <strong
          >If you do not agree to our Disclaimer STOP now and do not access or
          use this website.</strong
        >
      </p>

      <h2>Educational and Informational Purposes</h2>
      <p>
        The information contained on this website is intended for educational
        and informational purposes only. It is not intended to be a substitute
        of either the written law or regulations.
      </p>

      <h2>Not Legal or Financial Advice</h2>
      <p>
        The authors of matievisthekat.dev are not legal or financial advisors
        and therefore the information found on this website is not intended to
        be used in place of professional legal and/or financial advice.
      </p>
      <p>
        We have taken care to ensure the information contained on this website
        is correct however, we are not responsible for any errors or omissions.
      </p>

      <h2>External Links</h2>
      <p>
        Some links on this website connect to external websites which are
        maintained by third parties. matievisthekat.dev is not responsible for
        any of the information provided by a third party website.
      </p>
      <p>
        You are subject to the terms and conditions, disclaimer, and privacy
        policy of the third party websites when you leave our website.
      </p>

      <h2>Personal Responsibility</h2>
      <p>
        You acknowledge you are using our website voluntarily and that any
        choices, actions and results now and in the future are solely your
        responsibility.
      </p>
      <p>
        matievisthekat.dev will not be liable to you or any other party for any
        decision made or action taken in reliance on the information given by
        our service.
      </p>

      <h2>Contact & Credit</h2>

      <p>
        By using our website you are agreeing to the above disclaimer. Should
        you have any queries regarding anything in this disclaimer please
        contact us at:
        <a href="https://matievisthekat.dev/contact"
          >matievisthekat.dev/contact</a
        >
      </p>

      <p>
        This disclaimer was generated at:
        <a href="https://termsandconditionstemplate.com/disclaimer-generator/"
          >termsandconditionstemplate.com</a
        >.
      </p>
    </div>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
