<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <%- include("../partials/navbar.ejs") %>
    
    <div class="container center">
      <a href="#" onclick="window.history.back()" class="btn btn-md btn-primary"
        >Back</a
      >
    </div>
    <br />

    <div class="container text-light padding-20 bg-dark z-depth-2">
      <h1>Refund policy</h1>
      <p>
        Since our Website offers non-tangible, irrevocable goods we do not
        provide refunds after the product is purchased, which you acknowledge
        prior to purchasing any product on the Website. Please make sure that
        you've carefully read product description before making a purchase.
      </p>
      <h2>Contacting us</h2>
      <p>
        If you would like to contact us concerning any matter relating to this
        Refund Policy, you may send an email to
        &#115;&#117;&#112;p&#111;&#114;&#116;&#64;m&#97;&#116;ievisth&#101;ka&#116;.&#100;&#101;v
      </p>
      <p>This document was last updated on June 26, 2020</p>
    </div>

    <%- include("../partials/footer.ejs") %> <%- include("../partials/js.ejs")
    %>
  </body>
</html>
