<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("./partials/navbar.ejs") %>
    <!-- Custom content -->

    <div
      class="animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
    >
      <form
        action="/api/users/login"
        method="post"
        id="login-form"
        class="needs-validation"
        novalidate
      >
        <div class="form-group form-row">
          <div class="col">
            <label for="email">Email address</label>
            <input
              type="text"
              name="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              required
            />
            <div class="invalid-feedback">
              Please provide a valid email address
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
              required
              />
              <div class="invalid-feedback">
                Passwords must contain at least 8 characters, 1 upperacse and 1
                loweracse letter, 1 number and 1 special character
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <br />
        <small>Don't have an account? <a href="/signup">Sign up</a></small>
      </form>
    </div>

    <!-- Included content -->
    <%- include("./partials/footer.ejs") %> <%- include("./partials/js.ejs") %>
  </body>
</html>
