<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <%- include("./partials/navbar.ejs") %>
    <!-- Custom content -->

    <div
      class="animate__animated animate__bounceInUp z-depth-2 container center padding-20 unique-color-dark text-primary"
    >
      <form
        action="/api/users/signup"
        method="post"
        id="login-form"
        class="center "
      >
        <div class="form-group row">
          <div class="col">
            <label for="first-name">First name</label>
            <input
              type="text"
              name="firstName"
              class="form-control"
              id="first-name"
              placeholder="First name"
            />
            <br />
            <label for="last-name">Last name</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              id="last-name"
              placeholder="Last name"
            />
            <br />
            <label for="email">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              placeholder="Enter email"
            />
          </div>
          <div class="col">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
              />
              <br />
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
              />
              <br />
              <label for="confirm-password">Confirm password</label>
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                name="confirmPassword"
                placeholder="Enter password again"
              />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <br />
        <small>Already have an account? <a href="/login">Login</a></small>
      </form>
    </div>

    <!-- Included content -->
    <%- include("./partials/footer.ejs") %> <%- include("./partials/js.ejs") %>
    <script src="/js/form-validate.js"></script>
  </body>
</html>
