<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="margin-top: 7%;">
  <div style="background-color: #6351ce;">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic" target="_blank" href="/contact/facebook">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" target="_blank" href="/contact/twitter">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" target="_blank" href="/contact/google-plus">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" target="_blank" href="/contact/linkedin">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" target="_blank" href="/contact/instagram">
            <i class="fab fa-instagram white-text mr-4"> </i>
          </a>

          <!-- Discord -->
          <a class="ins-ic" target="_blank" href="/contact/discord">
            <i class="fab fa-discord white-text mr-4"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">MatievisTheKat</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <a href="/products"
          ><h6 class="text-uppercase font-weight-bold">Products</h6></a
        >
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a href="/products/website-building">Website Building</a>
        </p>
        <p>
          <a href="/products/discord-bots">Discord Bots</a>
        </p>
        <p>
          <a href="/products/nodejs-backend">NodeJS Backend</a>
        </p>
        <p>
          <a href="/products/twitch-bot">Twitch Bots</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <a href="/help"
          ><h6 class="text-uppercase font-weight-bold">Useful links</h6></a
        >
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <% if (user && user.id) { %>
        <p>
          <a href="/me">Your Account</a>
        </p>
        <% } else { %>
        <p>
          <a href="/signup">Sign Up</a>
        </p>
        <p>
          <a href="/login">Login</a>
        </p>
        <% } %>
        <p>
          <a href="/legal/terms">Terms</a>
        </p>
        <p>
          <a href="/legal/privacy-policy">Privacy Policy</a>
        </p>
        <p>
          <a href="/legal/cookie-policy">Cookie Policy</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <a href="/contact"
          ><h6 class="text-uppercase font-weight-bold">Contact</h6></a
        >
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><i class="fas fa-home mr-3"></i> Cape Town, South Africa</p>
        <p><i class="fas fa-envelope mr-3"></i> support@matievisthekat.dev</p>
        <p><i class="fas fa-phone mr-3"></i> +27 62 411 4071</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://matievisthekat.dev/"> MatievisTheKat</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
