<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="The official MatievisTheKat website. Freelance
developer services. <%- user ? `Feel free to leave a review or order some
services ${user.username}` : "Login to leave reviews and order services" %>" />
<meta name="msapplication-TileColor" content="#e722e7" />
<meta
  name="keywords"
  content="discord, developer, bort, matievisthekat, kat, matievis, matthew stead, freelance developer, node, nodejs, javascript"
/>
<meta property="og:type" content="profile" />
<meta property="og:image" content="/img/logo.png" />
<meta
  property="og:title"
  content="MatievisTheKat | Freelance developer services"
/>
<meta property="og:url" content="https://matievisthekat.dev" />
<meta
  property="og:description"
  content="I am a developer with 11 years of experience. I am fluent in using JavaScript and JSON within the Node environment, as well as all the features of ES6. I also have a solid understanding of HTML and CSS, and am able to work with web apps or other browser-based environments."
/>
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta
  name="apple-mobile-web-app-title"
  content="MatievisTheKat | Freelance developer services"
/>
<link rel="apple-touch-icon-precomposed" href="/img/logo.png" />
<meta name="msapplication-TileImage" content="/img/logo.png" />
<meta name="theme-color" content="#e722e7" />

<title>MatievisTheKat | Freelance developer services</title>

<%- include("./links.ejs") %>
