<nav class="navbar nav navbar-expand-sm navbar-dark">
  <img
    src="https://cdn.matievisthekat.dev/logo.png"
    class="nav-logo img-fluid"
    width="7%"
  />
  <a class="navbar-brand brand-name" style="font-size: x-large;" href="/"
    >MatievisTheKat</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders/new">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews">Reviews</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contact">Contact</a>
          <a class="dropdown-item" href="/legal/cookie-policy">Cookies</a>
          <a class="dropdown-item" href="/legal/privacy-policy">Privacy</a>
          <a class="dropdown-item" href="/legal/terms">Terms</a>
        </div>
      </li>
    </ul>
    <% if (user) { %>
    <div class="dropdown">
      <button
        class="btn btn-outline-primary my-2 my-sm-0 margin-right-20 nav-item dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="far fa-user"></i> <%- user.username %>
      </button>

      <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
        <a href="/me" class="dropdown-item">My Profile</a>
        <a href="/me/settings" class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <a href="/me/logout" class="dropdown-item">Logout</a>
      </div>
    </div>
    <% } else { %>
    <a
      href="/signup"
      class="btn btn-outline-primary my-2 my-sm-0 margin-right-20"
    >
      <i class="fas fa-user-plus"></i>
      Sign Up
    </a>
    <a href="/login" class="btn btn-outline-primary my-2 my-sm-0">
      <i class="fas fa-sign-in-alt"></i>
      Login
    </a>
    <% } %>
  </div>
</nav>

<div id="loading"></div>

<% if (error) { %>
<div
  class="alert alert-danger alert-dismissible fade show container animate__animated animate__fadeInRight"
  role="alert"
>
  <%- error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%} else if (success) { %>
<div
  class="alert alert-success alert-dismissible fade show container animate__animated animate__fadeInRight"
  role="alert"
>
  <%- success %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%} else if (warning) { %>
<div
  class="alert alert-warning alert-dismissible fade show container animate__animated animate__fadeInRight"
  role="alert"
>
  <%- warning %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%>
